<nav class="navbar">
    <div class="header-content">
        <img src="assets/quiz-logo.avif" alt="Logo" class="logo">
        <form class="container-fluid d-flex justify-content-start">
            <button class="btn btn-outline-primary" type="button" (click)="goToQuizPage()">Welcome</button>
            <div class="dropdown">
                <button class="btn btn-outline-info dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Questions
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" routerLink="/add">Add</a></li>
                    <li><a class="dropdown-item" routerLink="/update">Update</a></li>
                    <li><a class="dropdown-item" routerLink="">Delete</a></li>
                </ul>
            </div>
            <button class="btn btn-outline-success" type="button" routerLink="">Highscores</button>
            <button class="btn btn-outline-dark" type="button" routerLink="/user">Logout</button>
        </form>
    </div>
</nav>