<div class="container bg-light py-5">
    <h1 class="dispaly-5 fw-bold" style="text-align: center;">Welcome to the Quiz !</h1>
    <p style="text-align: center;">How good is your programming knowledge ?</p>
    <h4>Rules :</h4>
    <ol>
        <li>Each right answer will add 10 points to your score</li>
        <li>An incorrect answer will deduct 10 points from your score</li>
        <li>Time to answer each question : 30 sec</li>
    </ol>
    <h5 class="fw-bold" style="text-align: right;">WARNING : Refreshing the page lead to restarting the quiz !!</h5>
    <div class="col-md-4 my-3">
        <label for="">Enter your name :</label>
        <input #name type="text" class="form-control">
    <button class="btn btn-primary btn-lg" routerLink="/question" (click)="startQuiz()">Start Your Quiz</button>
    </div>
</div>