<div class="vh-100 d-flex justify-content-center align-items-center">
    <div class="col-md-6">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Created_At</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>jhon</td>
                    <td>Jon@gmail.com</td>
                    <td>10/10/1995</td>
                    <td><button class="btn btn-sm btn-primary">Edit</button></td>
                    <td><button class="btn btn-sm btn-danger">Delete</button></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>mark</td>
                    <td>mark@gmail.com</td>
                    <td>10/10/1996</td>
                    <td><button class="btn btn-sm btn-primary">Edit</button></td>
                    <td><button class="btn btn-sm btn-danger">Delete</button></td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Raj</td>
                    <td>raj@gmail.com</td>
                    <td>10/10/1997</td>
                    <td><button class="btn btn-sm btn-primary">Edit</button></td>
                    <td><button class="btn btn-sm btn-danger">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>